/********************
    GENERAL ELEMENTS
*********************/
p {
    max-width: 1920px;
    font-size: 16px;
    padding-top: 5px;
    color: dimgray;
}
h1 {
    font-size: 25px;
    font-weight: 600;
    color: black;
}
a {
    color: #512888;
}
a:hover {
    color: #808080;
}

/********************
    JUMBOTRON
*********************/
.jumbotron {
    background-image: url('assets/grwkc.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    max-width: 1920px;
    height: 160px;
    border-bottom: 5px solid black;
}
.jumbotron .container {
    margin-bottom: 15px;
    margin-top: -20px;i
    text-align: center;
}
.jumbotron h1 {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    display: block;
}
.jumbotron a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 10px;
}
.jumbotron a:hover {
    color: #87CEEB;
}
.jumbotron .nav {
    margin-top: 12px;
}
.quote_background {
    height: 50px;
    width: 100%;
    background-color: #512888;
    text-align: center;
    margin-bottom: -75px;
}
.quote {
    position: relative;
    top: 5px;
    color: white;
    font-size: 15px;
}
/********************
    NAVIGATION
*********************/
.nav ul {
	position: absolute;
	top: 150px;
    margin-left: 0px;
}
.nav li {
    display: inline;
}
.tabs {
    display: inline;
    float: left;
    padding: 10px 10px;
}

/********************
    CONTENT CONTAINERS
*********************/
.page {
    margin-top: 100px;
    margin-bottom: 30px;
}
.item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 750px;
    width: 90%;
    text-align: left;
    border-bottom-left-radius: 12px;
}
.box {
    border-top: 5px solid grey;
    background-color: #f1f1f1;
    padding: 10px 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.underline {
    background-color: #512888;
    background-size: cover;
    height: 2px;
    margin-bottom: 10px;
}

/********************
    IMAGES
*********************/
.image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
}
.image img {
    width: 100%;
    border-bottom: 3px solid black;
}
.embedded_image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}
.embedded_image img {
    width: 100%;
    border-bottom: 3px solid black;
}
.dummy {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 100%;
    max-width: 500px;
    margin-top: -100px;
}
.dummy img {
    width: 100%;
}

/********************
    YOUTUBE
*********************/
.youtube {
    text-align: center;
}
iframe {
    width: 100%;
    max-width: 500px;
}

/********************
    SLIDESHOW
*********************/
.slideshow {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.slideshow img {
    position: absolute;
    opacity:0;
    border-bottom: 3px solid black;
    width: 100%;
}
.slideshow img:nth-child(4) {
   animation: xfade 32s 24s infinite;
}
.slideshow img:nth-child(3) {
   animation: xfade 32s 16s infinite;
}
.slideshow img:nth-child(2) {
   animation: xfade 32s 8s infinite;
}
.slideshow img:nth-child(1) {
   animation: xfade 32s 0s infinite;
}
@keyframes xfade {
   0% {
      opacity: 1;
   }
   23.5% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   98% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/********************
    BACK TO THE TOP
*********************/
.top a {
    font-size: 20px;   
}
.top {
    text-align: center;
}

/********************
    blogs
*********************/
.blog_container {
    border-top: 5px solid grey;
    background-color: #f1f1f1;
    padding: 10px 30px;
    position: relative;
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 300px;
    overflow: auto;
}

/********************
    CONNECT
*********************/
.connect {
    border-top: 5px solid grey;
    background-color: #f1f1f1;
    padding: 10px 30px;
}
.connect .container {
    margin-bottom: 60px;
}
.connect li {
    list-style: none;
    margin-left: -25px;
}
.connect .row a {
    font-size: 16px;
    font-weight: bold;
}

/********************
    FOOTER
*********************/
.footer {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 9px;
}
