body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Roboto Slab', serif;
}

#navigation-container {
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#buttons-ul {
    width: 200px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

.buttons-li {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: black;
}

.buttons-li:hover {
    background-color: #2B4162;
}

.buttons-a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.button-title-container {
    margin-left: 20px;
    padding: 4px;
}

#button-title {
    color: white;
    margin: 0;
}

#btn-home,
#btn-work,
#btn-me,
#btn-projects,
#btn-mail {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#btn-home {
    background-image: url("../img/btn-home.png");
}

#btn-work {
    background-image: url("../img/btn-work.png");
}

#btn-projects {
    background-image: url("../img/btn-projects.png");
}

#btn-me {
    background-image: url("../img/btn-me.png");
}

#btn-mail {
    background-image: url("../img/btn-mail.png");
}

@media only screen and ( max-width: 600px ) {

}
