<link rel="stylesheet" href="../css/header.css"></style>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<base target="_parent">

<div id="header-container">

    <div id="banner"></div>

    <div id="profile_pic"></div>

    <h1 id="website-title">
        George R. Williams
    </h1>

    <p id="website-blurb">
        Inspire. Consult. Develop.
    </p>

    <ul id="buttons-ul">
        <li class="buttons-li" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new"><src="img/home.png"></a>
        </li>
        <li class="buttons-li" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/experience.html">Work Experience</a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/projects.html">Projects</a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/about.html">About Me</a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/contact.html">Contact</a>
        </li>
    </ul>
</div>
