<link rel="stylesheet" href="../css/header.css"></style>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<base target="_parent">

<div id="header-container">

    <div id="banner"></div>
    <div id="website-tite"></div>
    <h1> skip space </h>
    <ul id="buttons-ul">
        <li class="buttons-li" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new"><img src="../img/home.png"></a>
        </li>
        <li class="buttons-li" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/experience.html"><img src="../img/work.png"></a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/projects.html"><img src="../img/you.png"></a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/about.html"><img src="../img/me.png"></a>
        </li>
        <li class="buttons-li">
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/contact.html"><img src="../img/email.png"></a>
        </li>
    </ul>
</div>
