<link rel="stylesheet" href="../css/navigation.css"></style>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<base target="_parent">

<div id="navigation-container">
    <ul id="buttons-ul">
        <li class="buttons-li" onmouseover="showButtonName( 'Home' )" onmouseout="hideButtonName()" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new"><div id="btn-home"></div></a>
        </li>
        <li class="buttons-li"  onmouseover="showButtonName( 'Work Experience' )" onmouseout="hideButtonName()" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/experience.html"><div id="btn-work"></div></a>
        </li>
        <li class="buttons-li" onmouseover="showButtonName( 'Projects' )" onmouseout="hideButtonName()" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/projects.html"><div id="btn-projects"></div></a>
        </li>
        <li class="buttons-li"  onmouseover="showButtonName( 'About Me' )" onmouseout="hideButtonName()" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/about.html"><div id="btn-me"></div></a>
        </li>
        <li class="buttons-li"  onmouseover="showButtonName( 'Contact' )" onmouseout="hideButtonName()" >
            <a class="buttons-a" href="http://www.georgerwilliams.com/new/contact.html"><div id="btn-mail"></div></a>
        </li>
    </ul>
    <div class="button-title-container">
        <h2 id="button-title"></h2>
    </div>
</div>


<script>
    function showButtonName( name ) {document.getElementById("button-title").innerHTML = name;}
    function hideButtonName() {document.getElementById("button-title").innerHTML = "";}
  </script>
